<nav style="background-color: rgb(7, 40, 87 );">
    <div class="nav-wrapper container">
        <!-- Brand Logo -->
        <a href="/" class="brand-logo ">Evian</a>
        <!-- Mobile Menu Icon -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <!-- Desktop Menu -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/blockchain">View Blockchain</a></li>
            <li><a href="/register">Node Management</a></li>            
            <li><a href="/mine">Mine Block</a></li>
            <li><a href="/seemine">View mine</a></li>
        </ul>
    </div>
</nav>

<!-- Mobile Menu -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/blockchain">View Blockchain</a></li>
    <li><a href="/register">Register Node</a></li>
    <li><a href="/register-nodes-bulk">Register Node Bulk</a></li>
    <li><a href="/mine">Mine Block</a></li>
</ul>